@import url("https://fonts.googleapis.com/css?family=Abel&display=swap");
/*--- FONTS ---*/
/*--- COLORS ---*/
/*--- RESET STYLE ---*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Abel", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.py {
  padding: 70px 0;
}

@media (max-width: 767px) {
  .py {
    padding: 40px 0;
  }
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    width: 90%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Abel", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

img {
  display: block;
}

/*---- GLOBAL ----*/
body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(134, 54, 65, 0.9)), to(rgba(134, 54, 65, 0.9))), url(../img/bg.jpg);
  background-image: linear-gradient(rgba(134, 54, 65, 0.9), rgba(134, 54, 65, 0.9)), url(../img/bg.jpg);
  padding-top: 40px;
  color: #fff;
}

@media (max-width: 767px) {
  body {
    padding-top: 20px;
  }
}

/*---- header ----*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 250px;
  position: relative;
}

@media (max-width: 767px) {
  header {
    height: auto;
  }
}

header img {
  margin: 0 auto;
  height: 250px;
  border-radius: 50%;
}

@media (max-width: 767px) {
  header img {
    height: 100px;
  }
}

header nav {
  width: 100%;
}

header nav::before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(60, 21, 26, 0.5);
  padding: 2em 0;
  width: 100%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: -1;
}

header nav div {
  width: 65%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 767px) {
  header nav div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
  }
}

header nav div ul li {
  font-size: 1.2rem;
  padding: 1em 0;
  display: inline-block;
}

@media (max-width: 767px) {
  header nav div ul li {
    font-size: 1rem;
  }
}

header nav div ul li a {
  padding: 0.5em 1.1em;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  header nav div ul li a {
    padding: 0.5em 0.5em;
  }
}

header nav div ul li a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #3c151a;
}

@media (max-width: 767px) {
  header nav a {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-right: 10px;
  }
}

/*---- intro  ----*/
.intro {
  padding: 50px 0 20px;
  text-align: center;
  font-size: 1.2rem;
}

@media (max-width: 767px) {
  .intro {
    font-size: 1rem;
    padding: 20px 0;
  }
}

.intro span {
  font-size: 0.8em;
}

/*---- album ----*/
.album {
  background-color: rgba(60, 21, 26, 0.5);
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 767px) {
  .album {
    padding: 30px;
  }
}

.album article:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

@media (max-width: 767px) {
  .album article:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 20px;
  }
}

.album article:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
}

@media (max-width: 767px) {
  .album article:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.album h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.album img {
  width: 100%;
}

.album p {
  font-size: 1.1rem;
  margin-bottom: 30px;
  text-align: justify;
}

/*---- bends ----*/
.bends {
  background-color: rgba(60, 21, 26, 0.5);
  padding: 30px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}

.bends article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22%;
          flex: 0 0 22%;
}

@media (max-width: 767px) {
  .bends article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 49%;
            flex: 0 0 49%;
    margin-bottom: 10px;
  }
}

.bends img {
  width: 100%;
}

.bends h3 {
  margin-top: 1em;
  font-size: 1rem;
}

/*---- news ----*/
.news {
  margin-top: 30px;
}

.news h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.news article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.news article div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31%;
          flex: 0 0 31%;
}

@media (max-width: 767px) {
  .news article div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 10px;
  }
}

.news article h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.news article button {
  padding: 0.4em 1em;
  background: #fff;
  border: 3px solid transparent;
  color: rgba(60, 21, 26, 0.6);
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Abel", sans-serif;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .news article button {
    font-size: 1rem;
  }
}

.news article button:hover {
  background-color: rgba(60, 21, 26, 0.6);
  border: 3px solid transparent;
  color: #fff;
}

/*---- footer ----*/
footer {
  background-color: rgba(60, 21, 26, 0.5);
  padding: 40px;
  margin-top: 50px;
  text-align: center;
  font-weight: 600;
  font-size: 0.9rem;
}

@media (max-width: 767px) {
  footer {
    padding: 30px;
    margin-top: 40px;
  }
}
/*# sourceMappingURL=style.css.map */