@import "starter";
@import "mixins";

/*---- GLOBAL ----*/

body {
  background-image: linear-gradient(
      rgba(134, 54, 65, 0.9),
      rgba(134, 54, 65, 0.9)
    ),
    url(../img/bg.jpg);
  padding-top: 40px;
  color: $white;
  @media (max-width: 767px) {
    padding-top: 20px;
  }
}

/*---- header ----*/
header {
  @include flex(center, center, column);
  height: 250px;
  position: relative;
  @media (max-width: 767px) {
    height: auto;
  }
  img {
    margin: 0 auto;
    height: 250px;
    border-radius: 50%;
    @media (max-width: 767px) {
      height: 100px;
    }
  }
  nav {
    width: 100%;
    &::before {
      content: "";
      display: block;
      position: absolute;
      background-color: rgba($brown, 0.5);
      padding: 2em 0;
      width: 100%;
      top: 50%;
      transform: translate(0, -50%);
      z-index: -1;
    }
    div {
      width: 65%;
      margin: 0 auto;
      @include flex(space-between, center);
      @media (max-width: 767px) {
        justify-content: center;
        width: 90%;
      }
      ul {
        li {
          font-size: 1.2rem;
          padding: 1em 0;
          display: inline-block;
          @media (max-width: 767px) {
            font-size: 1rem;
          }
          a {
            padding: 0.5em 1.1em;
            border-radius: 5px;
            color: $white;
            text-transform: uppercase;
            @media (max-width: 767px) {
              padding: 0.5em 0.5em;
            }
            &:hover {
              background-color: rgba($white, 0.8);
              color: rgba($brown, 1);
            }
          }
        }
      }
    }
    a {
      @media (max-width: 767px) {
        order: -1;
        margin-right: 10px;
      }
    }
  }
}

/*---- intro  ----*/
.intro {
  padding: 50px 0 20px;
  text-align: center;
  font-size: 1.2rem;
  @media (max-width: 767px) {
    font-size: 1rem;
    padding: 20px 0;
  }
  span {
    font-size: 0.8em;
  }
}

/*---- album ----*/
.album {
  background-color: rgba($brown, 0.5);
  padding: 50px;
  @include flex(space-between, center);
  @media (max-width: 767px) {
    padding: 30px;
  }
  article {
    &:first-child {
      flex: 0 0 40%;
      @media (max-width: 767px) {
        flex: 0 0 100%;
        margin-bottom: 20px;
      }
    }
    &:last-child {
      flex: 0 0 55%;
      @media (max-width: 767px) {
        flex: 0 0 100%;
      }
    }
  }
  h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  img {
    width: 100%;
  }
  p {
    font-size: 1.1rem;
    margin-bottom: 30px;
    text-align: justify;
  }
}

/*---- bends ----*/
.bends {
  background-color: rgba($brown, 0.5);
  padding: 30px;
  margin-top: 30px;
  @include flex(space-between, center);
  text-align: center;
  article {
    flex: 0 0 22%;
    @media (max-width: 767px) {
      flex: 0 0 49%;
      margin-bottom: 10px;
    }
  }
  img {
    width: 100%;
  }
  h3 {
    margin-top: 1em;
    font-size: 1rem;
  }
}

/*---- news ----*/
.news {
  margin-top: 30px;
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }
  article {
    @include flex(space-between, center);
    div {
      flex: 0 0 31%;
      @media (max-width: 767px) {
        flex: 0 0 100%;
        margin-bottom: 10px;
      }
    }
    h3 {
      font-size: 1.8rem;
      margin-bottom: 10px;
    }
    button {
      @include btn($white, transparent, $brown, $brown, transparent, $white);
      margin-top: 10px;
    }
  }
}
/*---- footer ----*/
footer {
  background-color: rgba($brown, 0.5);
  padding: 40px;
  margin-top: 50px;
  text-align: center;
  font-weight: 600;
  font-size: 0.9rem;
  @media (max-width: 767px) {
    padding: 30px;
    margin-top: 40px;
  }
}
